.navbar{
    font-family: 'Times New Roman', Times, serif;
}
a.navbar-brand{
    color: black;
}
a.navbar-brand:hover,a.nav-link:hover{
    background-color:thistle;
}
a.nav-link{
    color: black;
    font-size: 20px;
}
  .col-sm-2{
      background-color: tomato;
  }
  .col-md{
      background-color:sandybrown;
  }
  .Reason{
      font-weight: bold;
  }
.table{
border: 2px solid black;
width: 60%;
margin-left: auto;
margin-right: auto;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.table tr:nth-child(even){background-color:gold;}

.btn-group:hover{
    transform: scale(1.10);
}

.dropdown-menu{
    background-color:blanchedalmond;
    color:black;
}
.dropdown-item:hover{
    color:darkkhaki;
}

.form-group{
    width:40%;
}

